<footer>
        <p>Copyright 1995-1998 Rodosys.Inc <a href="/pages/acercade.html">Acerca de este sitio</a> <a href="/borrarusuario">Borrar usuario</a></p>
            <a href="../files/ie4setup.zip">
            <img src="../img/ie4.gif" alt="Consigue IE4">
            <a href="../files/Netscape 4.5.1.exe">
            <img src="../img/netnow3.gif" alt="Consigue Netscape 3.0">
            <a href="../files/IE3.zip">
            <img src="../img/ie_static.gif" alt="Consigue Internet Explorer 3.0">
            <a href="../files/winzip70.exe">
            <img src="../img/winzip.gif" alt="Consigue WinZip 7.0" width="88" height="60" >
            </a>
    </footer>