<div class="topnav">
        <a href="/pages/news.html">Noticias</a>
        <a href="/pages/downloads.html">Descargas</a>
        <a href="/pages/cyberiaclub.html">Club Cyberia [Solo IE]</a>
        <a href="/pages/HTML3/index.HTM">Version HTML3</a>
        <a href="/creacionusuario" style=float:right>Crear cuenta</a>
        <a href="/iniciosesion" style=float:right>Iniciar sesion</a>
    </div>
         <a href="/"><img src="../img/logo.png" class="center" alt="プレセント・デイ　プレセント・タイム"></a>
    <hr>