<h1>Borrar usuario</h1>
<hr>
<h2>Esperemos que la haya pasado bien en nuestra pagina, la cual funciona como una maquina del tiempo</h2>
<br>
<br>
<h1>Ingrese su nombre de usuario y sera borrado de la database</h1>
<form method="post">
<label for="usuario" id="Usuario"><b>Usuario</b></label>
<input type="text" id="Usuario" required name="usuario"><br>
<br>
<button class="buttoncenter">Borrar mi usuario</button>
</form>
<hr>