<body class="creacionusuario">
<h1>Bienvenido a la aventura, bienvenido de vuelta a 1998</h1>
<p>Estas a punto de vivir una experiencia inolvidable</p>
<form class="form" method="post">
    <div class="container">
        <label for="usuario" id="Usuario"><b>Usuario</b></label>
        <input type="text" id="Usuario" required name="usuario">  <br>
        <label for="email" id="Correo"><b>E-Mail</b></label>
        <input type="email" id="Correo" required name="email"> <br>
        <label for="password" id="Password"><b>Clave</b></label>
        <input type="password" id="Password" required name="pass"> <br>
        <label for="edad" id="Edad"><b>Edad</b></label>
        <input type="edad" id="Edad" required name="edad"> <br>
        <button class="buttoncenter">Registrarse</button>
        <div class="text-center">
</form>
<br>
<hr>
</body>