<body class="sesioniniciada">
<h1>Bienvenido {{usuario}}!!</h1>
<br>
<h2>Su sesion ha sido iniciada, disfrute de su viaje {{usuario}}!!</h2>
<img src="/img/8.png" alt="" class="buttoncenter">
<a href="/">Volver al inicio</a>
</body>