<body class="thankyou">
<h1>Gracias por unirte a los viajeros del tiempo y mucha suerte en tu viaje</h1>
<img src="/img/6.png" width="650" height="471,5">
<h2>¿Recargos por Premium? Eso no existe en esta maquina del tiempo, se dice que a partir de 2017 (aun faltan 19 años) todas las cosas<br>
cambiaran por siempre, todas las teles, PC's y lo demas no seran lo mismo y ademas, <b>esto es el comienzo</b>...<br> 
Atte el Sr.RDK<br>
P.D. Se te envio un mensaje de agradecimiento a tu correo y se guardaron tus datos en la database (Estos datos son necesarios <br>
para el login, no los distribuimos a nadie</h2>
<a href="/">Volver a Home</a>

</body>